node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts
contracts

.github
.DS_Store
.env.example
tasks
hardhat.config.ts
README.md
tsconfig.json
wagmi.config.json